#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
/* Add to App.css or a new CSS file */


.container {
  display: flex;
  padding-top: 20px; 
  flex-direction: column;  /* This line ensures the timer and board are stacked vertically */
  align-items: center;
  min-height: 100vh;
  z-index: 2;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  z-index: 2;
}

.tile.hidden {
  background: linear-gradient(90deg, #6200ea, #9a67ea);
  cursor: default;
}

.tile.matched {
  background: linear-gradient(90deg, #00ea37b4, #88ea67b7);
  z-index: 2;
}

.tile.unmatched {
  background: linear-gradient(90deg, #ea0000, #ea6767);
  z-index: 2;
}

.tile {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #6200ea, #9a67ea);
  cursor: pointer;
  font-size: 64px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  user-select: none;
}

.tile:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 7px rgba(0,0,0,0.15);
}

.tile:focus {
  outline: none;
  box-shadow: 0px 4px 7px rgba(0,0,0,0.2);
}

@keyframes victorySpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tile.won {
  animation: victorySpin 4s linear infinite;
} 

.timer {
  font-size: 84px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.restart-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
}

@keyframes shuffle {
  0% { transform: translate(0, 0) rotate(0); }
  25% { transform: translate(-10px, 10px) rotate(-15deg); }
  50% { transform: translate(10px, -10px) rotate(15deg); }
  75% { transform: translate(-10px, 10px) rotate(-15deg); }
  100% { transform: translate(0, 0) rotate(0); }
}

.tile.shuffling {
  animation: shuffle 1.5s ease-out;
}

@media (max-width: 640px) {
  .board {
    grid-template-columns: repeat(4, 1fr); /* Adjust grid for smaller screens */
  }
  .tile {
    width: 65px; /* Adjust tile size for smaller screens */
    height: auto;
  }
  .timer {
    font-size: 36px; /* Adjust font size for smaller screens */
  }
  /* ... other styles ... */
}

@media (max-height: 750px) {
  .board {
    grid-template-columns: repeat(4, 1fr); /* Adjust grid for smaller screens */
  }
  .tile {
    width: 65px;
    height: 65px; /* Adjust tile size for smaller screens */
  }
  .timer {
    font-size: 36px; /* Adjust font size for smaller screens */
  }
  /* ... other styles ... */
}

.menu-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  /* Adjusted this */
  padding-top: 10vh;  /* Adjust this value to your liking */
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
}

h1 {
  margin-bottom: 20px; 
  font-size: 2.5em;
  color: #e6dada;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  z-index: 1;
}

.menu-button {
  position: relative;
  z-index: 3;
  background: linear-gradient(90deg, #6200ea, #9a67ea);
  border: none;
  color: white;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  font-size: 26px;
  margin: 15px 10px;
  cursor: pointer;
  border-radius: 25px;
  padding: 20px 40px;
  transition: all 0.3s;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.menu-button:hover {
  background: linear-gradient(90deg, #9a67ea, #6200ea);
  transform: translateY(-5px);
  box-shadow: 0px 7px 20px rgba(0,0,0,0.15);
}

.menu-button:focus {
  outline: none;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.emoji-spinner {
  display: inline-block;
  font-size: 85px;
  margin-top: 30px;
  animation: spin 4s linear infinite;
}

@keyframes popEffect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.emoji-effects {
  overflow: hidden;  
  width: 100vw;
  height: 100vh;
  position: fixed;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; 
}

.emoji-echo {
  position: absolute;
  font-size: 50px;
  animation: popEffect 2s forwards;  
}
